{% extends "base.html" %}
{% block content %}
<div class="center auth-wrap">
  <div class="card auth-card">
    <h2>Login</h2>

    <form method="post">
      <input class="input" type="email" name="email" placeholder="Email" required>
      <input class="input" type="password" name="password" placeholder="Password" required>

      <button class="btn" type="submit">Login</button>
    </form>

    <p style="margin-top: 10px; font-size: 14px;">
      Don’t have an account? <a href="{{ url_for('new_register') }}">Register here</a><br>
      Forgot your password? <a href="{{ url_for('reset_request') }}">Reset it</a>
    </p>
  </div>
</div>
{% endblock %}
